@charset "utf-8";

@import "reset";

html {
  font: {
    size: 16px;
    family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  }
  background: {
    color: #E9EAED;
  }
}

.container {
  max-width: 800px;
  box-sizing: border-box;
}

.p {
  &-14 {
    padding: 14px;
  }
}

.mx {
  &-auto {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.bg {
  &-dark {
    background: {
      color: #f2f2f2;
    };
  }
  &-grey {
    background: {
      color: #f9f9f9;
    };
  }
  &-white {
    background: {
      color: #fff;
    };
  }
}

.js {
  &-drop {
      color: #22A223 !important;
  }
  &-rise {
    color: #FF3228 !important; 
  }
}

.d {
  &-flex{
    display: flex;
  }
}

.text {
  &-grey {
    color: #707070;
  }
  &-dark {
    color: #666;
  }
  &-right {
    text-align: right;
  }
}

.header {
  background: {
    color: #fff;
  }
  padding: 15px;
  margin: {
    top: 15px;
    bottom: 15px;
  }
  border: {
    width: 0 1px 1px 1px;
    style: solid;
    color: #ddd;
    radius: 3px;
  }
  justify-content: space-between;
  align-items: baseline;
  &__title {
    font: {
      size: 1.8rem;
      weight: 600;
    }
  }
 
}

.marketTable {
  width: 100%;
  &__th {
    padding: 0.718rem;
    font: {
      weight: 600;
    }
    border: {
      width: 1px 1px 2px 1px;
      style: solid;
      color: #ddd;
    }
  }
  &__td {
    padding: 0.718rem;
    border: 1px solid #ddd;
  }
}