@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  background-color: #E9EAED;
}

.container {
  max-width: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-14 {
  padding: 14px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-dark {
  background-color: #f2f2f2;
}

.bg-grey {
  background-color: #f9f9f9;
}

.bg-white {
  background-color: #fff;
}

.js-drop {
  color: #22A223 !important;
}

.js-rise {
  color: #FF3228 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-grey {
  color: #707070;
}

.text-dark {
  color: #666;
}

.text-right {
  text-align: right;
}

.header {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.marketTable {
  width: 100%;
}

.marketTable__th {
  padding: 0.718rem;
  font-weight: 600;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #ddd;
}

.marketTable__td {
  padding: 0.718rem;
  border: 1px solid #ddd;
}
